__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.venv/
.env
data/raw/*
data/incoming/*
data/processed/*
data/reference/*
data/archive/*
!data/raw/.gitkeep
!data/raw/*.dvc
!data/incoming/.gitkeep
!data/processed/.gitkeep
!data/processed/*.dvc
!data/reference/.gitkeep
!data/reference/*.dvc
!data/archive/.gitkeep
*.db
*.sqlite
